*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
	background-image: linear-gradient(to right ,rgba(205, 114, 34, 0.5),rgba(242, 98, 15, 0.5));
	border: none;
	outline: unset;
	padding: 10px;
	border-radius: 5px;
  cursor:pointer
}
